@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Satisfy&display=swap"); 

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body, html {
  height: 100%;
  margin: 0px;
  font: 400 15px / 1.2 Lato, sans-serif;
}

#heading-1 {
  background-color: white;
  height: 100px;
  color: black;
  display: flex;
  justify-content: center;
  gap: 33px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  font-family: 'Pacifico', cursive;
}

.shop-icon {
  position: absolute;
  right: 25px;
  top: 40px;
}

.logo-card {
  text-align: center;
  font-size: 15px;
  position: relative;
  top: 5px;
}

.update-bg {
  position: fixed;
  background-color: black;
  top: 100px;
  width: 100%;
  height: 32px;
  z-index: 999;
}

.update {
  color: white;
  font-size: 15px;
  position: fixed;
  top: 100px;
  background-color: rgb(41, 40, 40);
  line-height: 2.1;
  text-align: center;
  font-weight: bold;
  z-index: 1001;
}

#heading-2 {
  color: white;
  padding: 1px;
  height: 25px;
  position: fixed;
  width: 100%;
  top: 100px;
  transform: translateX(100%);
  animation: 10s linear 0s infinite normal none running moving;
  z-index: 1000;
}

.sticky-ad-1 {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -1px;
  left: 35px;
  z-index: 1;
}

@keyframes moving {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}

.menu-btns {
  position: absolute;
  left: 17px;
  z-index: 1;
  top: 43px;
  width: 30px;
  height: 30px;
  color: var(--color-light-purple);
  display: flex;
  justify-content: center;
}

.menu-btns i {
  font-size: 30px;
}

#menu-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  height: 200px;
  transition: all 0.4s ease 0s;
  top: 100px;
  width: 100%;
  gap: 20px;
  right: 0px;
  z-index: 4;
  overflow: hidden;
  text-align: left;
  box-shadow: rgba(128, 128, 128, 0.45) 0px 1px 0px;
  position:fixed;
}

.nav-link a {
  text-decoration: none;
  color: var(--color-light-purple);
  font-weight: 500;
  font-size: 14px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 13px;
  font-weight: bold;
  font-family: Orbitron, sans-serif;
  right: -10px;
}

#special-btn {
  background-color: var(--color-dark-purple);
  width: 130px;
  text-align: center;
  line-height: 2.2;
  color: white;
  border-radius: 5px;
}

#special-btn a {
  color: white;
}

.slide {
  left: -100%;
}

.hide {
  visibility: hidden;
  z-index: 1;
}

.open {
  position: absolute;
}

#category {
  position: relative;
  margin-top: 150px;
  padding-bottom: 100px;
}

#category h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}

.category-card-mother {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category-card-child {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.category-card {
  position: relative;
}

.category-card img {
  width: 150px;
}

.category-card span {
  background-color: rgb(251, 251, 251);
  position: absolute;
  text-align: center;
  left: 38px;
  top: 80px;
  padding: 0px 10px;
}

.category-card span h2 {
  color: black;
  position: relative;
  font-size: 10px;
  font-weight: 500;
 
}

#new-collection {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("");
  padding: 50px;
  text-align: center;
  background-blend-mode: overlay;
  background-color: rgb(0, 0, 0);
  color: white;
}


#new-collection button {
 padding:10px;
}







#new-collection-shop {
  padding-top: 50px;
  text-align: center;
}

#new-collection-shop a {
  color: black;
  text-decoration: none;
}

.colllect-shop-mother {
  padding: 20px;
}

.colllect-shop-child {
}

.colllect-shop-child h1 {
  font-size: 30px;
  position: relative;
  top: -20px;
  font-family: 'Pacifico', cursive;
}

.colllect-shop-child button {
  position: relative;
  top: -40px;
  width: 120px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(203, 199, 199);
  border-radius: 5px;
}

#bottom-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

#bottom-menu h3 {
  font-size: 15px;
  font-weight: 100;
}

#payment-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 3ch;
}

#payment-logo div {
  display: flex;
  gap: 20px;
}

#payment-logo img {
  width: 60px;
  height: 40px;
  border: 1px solid rgb(205, 199, 199);
}

footer {
  text-align: center;
  padding: 20px;
  font-weight: 500;
}

footer a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
